In [1]:
import pandas as pd

In [2]:
df_raw = pd.read_csv("../data/hotel_bookings.csv")

def generate_market_segment_distribution(df_raw):
    
    selected_columns = ['hotel', 'market_segment']

    df = df_raw[selected_columns]

    return df.groupby('hotel')['market_segment'].value_counts()


generate_market_segment_distribution(df_raw)

hotel         market_segment
City Hotel    Online TA         38748
              Offline TA/TO     16747
              Groups            13975
              Direct             6093
              Corporate          2986
              Complementary       542
              Aviation            237
              Undefined             2
Resort Hotel  Online TA         17729
              Offline TA/TO      7472
              Direct             6513
              Groups             5836
              Corporate          2309
              Complementary       201
Name: market_segment, dtype: int64

In [3]:
def generate_deposit_type_distribution(df_raw):
    
    selected_columns = ['hotel', 'deposit_type']

    df = df_raw[selected_columns]

    res = df.groupby('hotel')['deposit_type'].value_counts()
    
    res_df = res.reset_index(name='count')
    
    return res_df

generate_deposit_type_distribution(df_raw)

          hotel deposit_type  count
0    City Hotel   No Deposit  66442
1    City Hotel   Non Refund  12868
2    City Hotel   Refundable     20
3  Resort Hotel   No Deposit  38199
4  Resort Hotel   Non Refund   1719
5  Resort Hotel   Refundable    142

In [5]:
# generate_deposit_type_distribution(df_raw).to_csv('../data/deposit_type.csv')