In [2]:
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv("../data/hotel_bookings.csv")

In [4]:
df["demand"] = df["adults"] + df["children"] + df["babies"]
df['arrival_date'] = df['arrival_date_month'] + " " + df['arrival_date_day_of_month'].astype(str) + " " + df['arrival_date_year'].astype(str)
df['arrival_date'] = pd.to_datetime(df['arrival_date'])

In [6]:
# demand per month grouped by hotel type

dm = pd.DataFrame(df.groupby(['hotel','arrival_date_month'])['demand'].count())
dm = dm.reset_index()

dm_city = dm[dm['hotel']=='City Hotel']
dm_resort = dm[dm['hotel']=='Resort Hotel']

# sort dataframe given a list of monthly order
order = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

dm_city['arrival_date_month'] = pd.Categorical(dm_city['arrival_date_month'], ordered=True, categories=order) 

dm_city = dm_city.sort_values('arrival_date_month')

dm_resort['arrival_date_month'] = pd.Categorical(dm_resort['arrival_date_month'], ordered=True, categories=order) 

dm_resort = dm_resort.sort_values('arrival_date_month')

<ipython-input-6-1f04d89c78dd>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dm_city['arrival_date_month'] = pd.Categorical(dm_city['arrival_date_month'], ordered=True, categories=order)
<ipython-input-6-1f04d89c78dd>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dm_resort['arrival_date_month'] = pd.Categorical(dm_resort['arrival_date_month'], ordered=True, categories=order)

In [10]:
dm_resort.to_csv("../data/demand_month_resort.csv")

In [8]:
dm_city.to_csv("../data/demand_month_city.csv")

In [11]:
dm_resort

           hotel arrival_date_month  demand
16  Resort Hotel            January    2193
15  Resort Hotel           February    3103
19  Resort Hotel              March    3336
12  Resort Hotel              April    3609
20  Resort Hotel                May    3559
18  Resort Hotel               June    3045
17  Resort Hotel               July    4573
13  Resort Hotel             August    4894
23  Resort Hotel          September    3108
22  Resort Hotel            October    3555
21  Resort Hotel           November    2437
14  Resort Hotel           December    2648

In [ ]:
dy = pd.DataFrame(df.groupby(['hotel','arrival_date_year'])['demand'].count())
dy = dy.reset_index()
dy.to_csv("../data/demand_per_year.csv")
dy