In [1]:
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("../data/hotel_bookings.csv")

In [3]:
df["demand"] = df["adults"] + df["children"] + df["babies"]
df['arrival_date'] = df['arrival_date_month'] + " " + df['arrival_date_day_of_month'].astype(str) + " " + df['arrival_date_year'].astype(str)
df['arrival_date'] = pd.to_datetime(df['arrival_date'])

In [6]:
# demand per month grouped by hotel type

dm = pd.DataFrame(df.groupby(['hotel','arrival_date_month'])['demand'].count())
dm = dm.reset_index()

dm_city = dm[dm['hotel']=='City Hotel']
dm_resort = dm[dm['hotel']=='Resort Hotel']

# sort dataframe given a list of monthly order
order = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

dm_city['arrival_date_month'] = pd.Categorical(dm_city['arrival_date_month'], ordered=True, categories=order) 

dm_city = dm_city.sort_values('arrival_date_month')

dm_city.to_csv("../data/demand_month_city.csv")

<ipython-input-6-2f900dda756e>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dm_city['arrival_date_month'] = pd.Categorical(dm_city['arrival_date_month'], ordered=True, categories=order)

In [7]:
dm_city

         hotel arrival_date_month  demand
4   City Hotel            January    3736
3   City Hotel           February    4965
7   City Hotel              March    6458
0   City Hotel              April    7480
8   City Hotel                May    8232
6   City Hotel               June    7894
5   City Hotel               July    8088
1   City Hotel             August    8979
11  City Hotel          September    7400
10  City Hotel            October    7605
9   City Hotel           November    4357
2   City Hotel           December    4132

In [ ]:
dy = pd.DataFrame(df.groupby(['hotel','arrival_date_year'])['demand'].count())
dy = dy.reset_index()
dy.to_csv("../data/demand_per_year.csv")
dy