In [1]:
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("../data/hotel_bookings.csv")

In [3]:
df["demand"] = df["adults"] + df["children"] + df["babies"]
df['arrival_date'] = df['arrival_date_month'] + " " + df['arrival_date_day_of_month'].astype(str) + " " + df['arrival_date_year'].astype(str)
df['arrival_date'] = pd.to_datetime(df['arrival_date'])

In [6]:
# demand per month grouped by hotel type

dm = pd.DataFrame(df.groupby(['hotel','arrival_date_month'])['demand'].count())
dm = dm.reset_index()

dm_city = dm[dm['hotel']=='City Hotel']
dm_resort = dm[dm['hotel']=='Resort Hotel']

# sort dataframe given a list of monthly order
order = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

dm_city['arrival_date_month'] = pd.Categorical(dm_city['arrival_date_month'], ordered=True, categories=order) 

dm_city = dm_city.sort_values('arrival_date_month')

dm_resort['arrival_date_month'] = pd.Categorical(dm_resort['arrival_date_month'], ordered=True, categories=order) 

dm_resort = dm_resort.sort_values('arrival_date_month')

<ipython-input-6-1f04d89c78dd>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dm_city['arrival_date_month'] = pd.Categorical(dm_city['arrival_date_month'], ordered=True, categories=order)
<ipython-input-6-1f04d89c78dd>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dm_resort['arrival_date_month'] = pd.Categorical(dm_resort['arrival_date_month'], ordered=True, categories=order)

In [10]:
dm_resort.to_csv("../data/demand_month_resort.csv")

In [8]:
dm_city.to_csv("../data/demand_month_city.csv")

In [11]:
dm_resort

           hotel arrival_date_month  demand
16  Resort Hotel            January    2193
15  Resort Hotel           February    3103
19  Resort Hotel              March    3336
12  Resort Hotel              April    3609
20  Resort Hotel                May    3559
18  Resort Hotel               June    3045
17  Resort Hotel               July    4573
13  Resort Hotel             August    4894
23  Resort Hotel          September    3108
22  Resort Hotel            October    3555
21  Resort Hotel           November    2437
14  Resort Hotel           December    2648

In [13]:
dy = pd.DataFrame(df.groupby(['hotel','arrival_date_year'])['demand'].count())
dy = dy.reset_index()
dy.to_csv("../data/demand_per_year.csv")
dy

           hotel  arrival_date_week_number  demand
0   Resort Hotel                         1     343
1   Resort Hotel                         2     457
2   Resort Hotel                         3     553
3   Resort Hotel                         4     519
4   Resort Hotel                         5     501
5   Resort Hotel                         6     682
6   Resort Hotel                         7     904
7   Resort Hotel                         8     719
8   Resort Hotel                         9     795
9   Resort Hotel                        10     727
10  Resort Hotel                        11     679
11  Resort Hotel                        12     656
12  Resort Hotel                        13     811
13  Resort Hotel                        14     739
14  Resort Hotel                        15     906
15  Resort Hotel                        16     755
16  Resort Hotel                        17     840
17  Resort Hotel                        18    1012
18  Resort Hotel                        19     762
19  Resort Hotel                        20     769
20  Resort Hotel                        21     906
21  Resort Hotel                        22     849
22  Resort Hotel                        23     752
23  Resort Hotel                        24     675
24  Resort Hotel                        25     704
25  Resort Hotel                        26     721
26  Resort Hotel                        27     810
27  Resort Hotel                        28     988
28  Resort Hotel                        29    1037
29  Resort Hotel                        30    1076
30  Resort Hotel                        31    1101
31  Resort Hotel                        32    1054
32  Resort Hotel                        33    1197
33  Resort Hotel                        34    1090
34  Resort Hotel                        35     951
35  Resort Hotel                        36     756
36  Resort Hotel                        37     633
37  Resort Hotel                        38     774
38  Resort Hotel                        39     748
39  Resort Hotel                        40     675
40  Resort Hotel                        41     857
41  Resort Hotel                        42     724
42  Resort Hotel                        43     917
43  Resort Hotel                        44     726
44  Resort Hotel                        45     690
45  Resort Hotel                        46     514
46  Resort Hotel                        47     708
47  Resort Hotel                        48     493
48  Resort Hotel                        49     716
49  Resort Hotel                        50     449
50  Resort Hotel                        51     430
51  Resort Hotel                        52     592
52  Resort Hotel                        53     618

In [ ]:
## Weekly demand csv file
#dy = df[df['hotel']=='City Hotel']
dy = df[df['hotel']=='Resort Hotel']
dy = pd.DataFrame(dy.groupby(['hotel','arrival_date_week_number'])['demand'].count())
dy = dy.reset_index()
dy.to_csv("../data/demand_week_resort.csv")