In [1]:
import pandas as pd

In [2]:
df_raw = pd.read_csv("../data/hotel_bookings.csv")
df_raw.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'deposit_type', 'agent',
       'company', 'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date'],
      dtype='object')

In [4]:
selected_columns = ['hotel', 'market_segment']

df = df_raw[selected_columns]

df

               hotel market_segment
0       Resort Hotel         Direct
1       Resort Hotel         Direct
2       Resort Hotel         Direct
3       Resort Hotel      Corporate
4       Resort Hotel      Online TA
...              ...            ...
119385    City Hotel  Offline TA/TO
119386    City Hotel      Online TA
119387    City Hotel      Online TA
119388    City Hotel      Online TA
119389    City Hotel      Online TA

[119390 rows x 2 columns]